<!-- 
<div class="container">
    <div class="row">

        <button mdbBtn (click)="ingresar('google')" type="button" color="primary" mdbWavesEffect>
          Google  <mdb-icon fab icon="google"></mdb-icon>
          </button>
          <button mdbBtn (click)="ingresar('facebook')" type="button" color="default" mdbWavesEffect>
              facebook
             <mdb-icon fab icon="twitter"></mdb-icon></button>

    </div>
</div> -->







<!-- Main navigation -->
<header>
    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row content-login">
            <!--Grid column-->
            <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
              <h1 class="h1-responsive font-weight-bold mt-sm-5">Bienvenidos a <span style="color: #495057;">Fire</span><span style="color:white;">chat</span> </h1>
              <hr class="hr-light">
              <h6 class="mb-4">Esta es una aplicación de chat en su face beta, y aún se encuentra en proceso de desarrollo, cualquier pregunta que tengas puedes ponerte en contacto con el desarrollador de la App!!</h6>
            
              <!--Google +-->
              <button (click)="ingresar('google')" type="button" mdbBtn style="background-color:#dd4b39 ;" class="waves-light" mdbWavesEffect><i class="fab fa-google-plus left"></i>Google+</button>
              <!--Facebook-->
              <button (click)="ingresar('facebook')"  type="button" mdbBtn style="background-color: #3b5999;" class="waves-light" mdbWavesEffect><i class="fab fa-facebook-f left"></i>Facebook</button>    
              
              <!-- <a mdbBtn (click)="ingresar('google')" mdbBtn color="white" mdbWavesEffect>GooGle <mdb-icon fab icon="google"></mdb-icon></a> -->
              <!-- <a mdbBtn (click)="ingresar('facebook')" color="white" outline="true" mdbWavesEffect>Facebook <mdb-icon fab icon="facebook"></mdb-icon></a> -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
              <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid">
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->


          <section class="row d-flex justify-content-around icon-social">

            <a class="icons-sm fb-ic" href="https://www.facebook.com/BladyMendoza97"><mdb-icon fab icon="facebook-f"></mdb-icon></a>
            
            <!--Twitter-->
            <a class="icons-sm tw-ic" href="https://twitter.com/BladyMendoza97"><mdb-icon fab icon="twitter"></mdb-icon></a>
            
            <!--Google +-->
            <a class="icons-sm gplus-ic" href="https://mail.google.com/mail/u/0/?tab=km"><mdb-icon fab icon="google-plus"></mdb-icon></a>
            
            <!--Linkedin-->
            <a class="icons-sm li-ic" href="https://www.linkedin.com/in/bladimir-mendoza-70a3901a7/"><mdb-icon fab icon="linkedin-in"></mdb-icon></a>
            
            <!--Instagram-->
            <a class="icons-sm ins-ic" href="https://www.instagram.com/bladymendoza97/"><mdb-icon fab icon="instagram"></mdb-icon></a>
            
            
            <!--Github-->
            <a class="icons-sm git-ic" href="https://github.com/Bladymendoza97/"><mdb-icon fab icon="github"></mdb-icon></a>
            
            
            <!--Email-->
            <a class="icons-sm email-ic"><mdb-icon fas icon="envelope"></mdb-icon></a>
          </section>
          <!--Facebook-->



        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->